:root {
    font-size: 1em;
    background-color: #F7F6F2;
    box-sizing: border-box;

    --ff-primary: "PT Sans", sans-serif;
    --ff-accent: 'Noto Sans', sans-serif;
    --ff-alternate: 'Karla', sans-serif;
}

p {
    margin: 0;
}

html, body {
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page-wrapper {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: #F7F6F2;
    font-family: var(--ff-accent)
}



/* ------------------------------ HEADER / TOP CONTAINER ----------------------------*/

.navbarpc {
    position: relative;
    display: grid;
    grid-template-columns: 20% auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 1em 1em;
}

.mobile {
    display: none;
}

.name-logo {
    margin-right: auto;
}
.name-logo img {
    width: 70%;
}

.main-navbar {
    font-size: 1.5em;
    padding: 0;
}

.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin: 0; 
    padding: 0;
}

.navbar-link {
    font-size: 85%;
    position: relative;
    margin: 0 40px;
    letter-spacing: 0.08em;
    color: #212121;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 3px;
    left: 50%; 
    /* kalau mau ganti animasi garis hover dibawah jadi kiri ke kanan, left = 0 */
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-link:hover:after {
    width: 100%; 
    left: 0; 
}

/* ------------------------------ MAIN CONTAINER ----------------------------*/

.main-container {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.auditeria-logo {
    padding: 2em;
    -webkit-animation: rotating 4s linear infinite;
}

#auditeria-logo {
    width: 340px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
    }
}

/* ------------------------------ BOTTOM CONTAINER ----------------------------*/

.bottom-container {
    position: relative;
    padding: 2em 8em;
    background-color: #212121;
    color: #F7F6F2;
}

.products {
    display: grid;
    grid-template-columns:auto 25% 25% 25% auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.products-item {
    display: block;
    padding: 1em;
    text-align: center;
}

.products-item img {
    object-fit: cover;
    padding: 15px;
    width: 50%;
    max-width: 65%;
}

.products-item h3 {
    margin: 0;
    font-size: 1.3em;
}

.product-info {
    padding: 1em;
    height: 50px;
}

#preview1{
    display: none;
}
#preview2{
    display: block;
}
#preview3{
    display: block;
}
#preview4{
    display: block;
}
#preview5{
    display: none;
}


    /*------------------- UJICOBA SLIDE ---------------------*/
    .slide-back{
        right: 0;
        text-align: start;
        padding-left: 2em;
    }

    .slide-next{
        text-align: start;
    }

    .prev, .next {
        cursor: pointer;
        
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: white;
        color: #e12bad;
      }





/* ------------------------------ FOOTER ----------------------------*/

.copyright {
    margin: 0;
    width: 100vw;
    height: 30px;
    background-color: #e12bad;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F6F2;
    
}

.copyright p {
    font-family: var(--ff-accent);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-transform: uppercase;
}


@media (min-width: 768px) and (max-width: 1024px) {
    /* ------------------------------ HEADER / TOP CONTAINER ----------------------------*/ 

    .navbar-link {
        font-size: 75%;
        margin: 0 25px;
    }

    .mobile {
        display: none;
    }
    
    .navbar-link:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 3px;
        left: 50%; 
        /* kalau mau ganti animasi garis hover dibawah jadi kiri ke kanan, left = 0 */
        position: absolute;
        background: #212121;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .navbar-link:hover:after {
        width: 100%; 
        left: 0; 
    }
    
    /* ===================================== BOTTOM CONTAINER ============================= */

    .bottom-container {
        padding: 2em 3em;
    }

  
    
    .products-item {
        display: block;
        padding: 0.4em;
        
        text-align: center;
    }
    
    .products-item img {
        object-fit: cover;
        padding: 15px;
        width: 50%;
        max-width: 65%;
    }
    
    .products-item h3 {
        margin: 0;
        font-size: 0.8em;
    }
    
    .products-item p{
        font-size: 0.5em;
    }
    .product-info {
        padding: 1em;
        height: 50px;
    }
   
    .slide-back{
        padding: 0;
    }

}


@media (max-width: 690px) {
    .navbarpc {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .menu-mobile {
        padding: 10px 0 0 0;
        display: grid;
        grid-template-columns: 20% auto 20%;
        text-align: center;
    }


    .name-mobile img{
        width: 50%;
    }


    .navbar-wrapper{
        display: none;
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 80%;
        background-color: #eed87e;
    }

    .navbar {
        font-size: 2em;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .navbar li {
        list-style: none;
        display: block;
        margin: 30px; 
        padding: 0;
    }
    
    .navbar-link {
        font-size: 85%;
        position: relative;
        margin: 0 40px;
        letter-spacing: 0.08em;
        color: #212121;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .navbar-link:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 3px;
        left: 50%; 
        /* kalau mau ganti animasi garis hover dibawah jadi kiri ke kanan, left = 0 */
        position: absolute;
        background: #212121;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .navbar-link:hover:after {
        width: 100%; 
        left: 0; 
    }

    #auditeria-logo {
    width: 200px;
    }

    /* ===================================== BOTTOM CONTAINER ============================= */

    .bottom-container {
        padding: 2em 1em;
    }
    
    .products-item {
        display: block;
        padding: 0.4em;
        text-align: center;
    }
    
    .products-item img {
        object-fit: cover;
        padding: 15px;
        width: 80%;
        max-width: 65%;
    }
    
    .products-item h3 {
        align-items: center;
        font-size: 0.3em;
    }
    
    .products-item p {
        font-size: 0.2em;
    }

    .product-info {
        padding: 1em;
        height: 50px;
    }
    
    .slide-back{
        padding: 0;
    }

    .prev, .next{
        padding: 10px;
        font-size: 10px;
    }
}



