body {
    background-color: #F7F6F2;
    margin: 0px;
}

.main-header {
    margin: 0 auto 35px;
}
.top-container {
    position: relative;
    width: 100%;
} 

.main-navbar {
    position: relative;
    font-size: 25px;
    font-family: 'Convergence', sans-serif;
    text-transform: uppercase;
    padding: 15px;
}

.navbar {
    padding: 0;
    text-align: right;
    width: 100%;
}

.main-navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
}

.main-navbar .navbar li a {
    margin: 0 40px;
    color: #212121;
    text-decoration: none;
}
img.navbar-logo {
    position: absolute;
    width: 200px;
    padding: 0;
}

.middle-container {
    text-align: center;
    padding: 60px;
}

.auditeria-logo {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    -webkit-animation: rotation 4s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

#name{
    
}


@media (max-width: 650px) {
   
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}
