:root {
    font-size: 1em;
    background-color: #F7F6F2;
    box-sizing: border-box;

    --ff-primary: "PT Sans", sans-serif;
    --ff-accent: 'Noto Sans', sans-serif;
    --ff-alternate: 'Karla', sans-serif;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

.page-wrapper {
    margin: 0;
    padding: 0;
    max-height: 100vw;
    max-width: 100vw;
    background-color: #F7F6F2;
    font-family: var(--ff-accent)
}



/* ------------------------------ HEADER / TOP CONTAINER ----------------------------*/

.main-header {
    position: relative;
    margin: 0 auto 35px;
    padding: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name-logo {
    margin-right: auto;
}

.main-navbar {
    font-size: 1.5em;
    padding: 0.8rem;
}

.navbar {
    padding: 0.3em 0;
    margin-top: 0;
    width: 100%;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin: 0; 
    padding: 0.2em;
}

.navbar-link {
    position: relative;
    margin: 0 40px;
    letter-spacing: 0.08em;
    color: #212121;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 3px;
    left: 50%; 
    /* kalau mau ganti animasi garis hover dibawah jadi kiri ke kanan, left = 0 */
    position: absolute;
    background: #212121;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-link:hover:after {
    width: 100%; 
    left: 0; 
}

/* ------------------------------ MAIN CONTAINER ----------------------------*/

.main-container {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.auditeria-logo {
    padding: 2em;
    margin-bottom: 3.5em;
    -webkit-animation: rotating 4s linear infinite;
}

#auditeria-logo {
    width: 340px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
    }
}

/* ------------------------------ BOTTOM CONTAINER ----------------------------*/

.bottom-container {
    padding: 2em 8em;
    background-color: #212121;
    color: #F7F6F2;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

.bottom-container img {
    max-width: 320px;
    
}

.preview-1 {
    text-align: center;
    flex: 1;
    order: 2;
}

.preview-2 {
    text-align: center;
    flex: 1;
    order: 1;
}

.preview-3 {
    text-align: center;
    flex: 1;
    order: 3;
}


/* ------------------------------ FOOTER ----------------------------*/

.copyright {
    width: 100vw;
    height: 30px;
    background-color: #e12bad;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F6F2;
    
}

.copyright p {
    font-family: var(--ff-accent);
    letter-spacing: 0.1em;
    font-size: 1.5em;
    text-transform: uppercase;
}

@media (max-width: 650px) {

}

@media (min-width: 768px) and (max-width: 1024px) {
    
}
